.App {
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
}

// .App-logo {
//   height: 40vmin;
// }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.UserAbout {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 95%;
  margin: 0 auto;
  padding-top: 10px;
  img {
    position: absolute;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    overflow: visible;
  }
  p {
    font-size: 14px;
    font-family: 'Arial';
    color: rgb(51, 51, 51);
    line-height: 1.429;
    margin-left: 80px;
    text-align: justify;
    padding: 10px 10px 10px 45px;
    background: #fffbc8;
    border: 1px solid #cecabf;
    border-radius: 5px;
  }
}
.UserAbout_name_wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
@media (max-width: 405px) {
  .UserAbout_name_wrapper {
    width: 60%;
  }
}
.UserAbout_name_wrapper {
  span {
    font-size: 12px;
    font-family: 'Arial';
    color: #808080;
    line-height: 1.25;
    margin-bottom: 5px;
  }
  h3 {
    font-size: 16px;
    font-family: 'Arial';
    color: #333333;
    margin-bottom: 5px;
  }
}
.services {
  display: flex;
  border-bottom: 1px solid #cccccc;
  font-size: 13px;
}
.services p {
  margin-left: auto;
  width: 30%;
  height: 25px;
  text-align: center;
}
.services-wrapper {
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.services-wrapper-inner {
  width: 70%;
}

.services-Item {
  display: flex;
}
.services-Item-name {
  font-size: 13px;
  display: flex;
  align-items: center;
  width: 70%;
  text-align: start;
  padding-left: 10px;
  height: 25px;
  margin-bottom: 2px;
  background: linear-gradient(to right, red 50%, transparent 100%);
}
.green {
  background: linear-gradient(to right, #b1e19b 90%, transparent 90%);
}
.blue1 {
  background: linear-gradient(to right, #ace2f8 40%, transparent 50%);
}

.blue2 {
  background: linear-gradient(to right, #ace2f8 20%, transparent 30%);
}

.services-Item-howMany {
  width: 30%;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
}
.services-wrapper-for-Items {
  padding: 15px 0;
  border-bottom: 1px solid #cccccc;
}
.services-total {
  display: flex;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
}
.services-total span {
  display: flex;
  width: 30%;
  margin-left: auto;
  justify-content: center;
}

.messages-wrapper-global {
  width: 95%;
  margin: 20px auto 0;
}
.messages-fullInfo {
  display: flex;
  flex-direction: row;
}
.messages-fullInfo p {
  display: flex;
}
.messages-fullInfo_latestCommit {
  font-size: 16px;
  font-weight: bold;
}
@media (max-width: 354px) {
  .messages-fullInfo_latestCommit {
    font-size: 13px;
    font-weight: bold;
  }
}
.messages-fullInfo a {
  font-size: 14px;
  color: #005da1;
  margin-left: 10px;
}

.messages-fullInfo_wrapper-for-like {
  margin-left: auto;
  display: flex;
}

.messages-fullInfo_wrapper-for-like a {
  font-size: 12px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333333;
}

.messages-fullInfo_wrapper-for-like a img {
  width: 12px;
  height: 12px;
}
.messageName {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  margin-top: 15px;
}
.messageName span {
  margin-left: 10px;
  font-size: 11px;
  color: #808080;
  display: flex;
  align-items: center;
}
.messageName p {
  font-size: 16px;
  font-weight: bold;
}
.messageText {
  position: relative;
  margin-top: 15px;
  padding: 15px 20px;
  width: 100%;
  background: #f2fbff;
  border: 1px solid #cfcfcf;
}

.messageText p {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333333;
}
.messageText-triangle {
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  top: -9px;
  left: 30px;
  border-bottom: 10px solid #f2fbff;
  border-left: 10px solid transparent;
  transform: rotate(90deg);
}

.messageText-triangle::after {
  content: '';
  width: 10px;
  display: block;
  position: absolute;
  top: 10px;
  left: -11px;
  border-top: 1px solid #aaa;
}

.messageText-triangle::before {
  content: '';
  width: 14px;
  display: block;
  position: absolute;
  top: 5px;
  left: -13px;
  border-top: 1px solid #aaa;
  transform: rotate(-45deg);
}
.form-wrapper {
  width: 100%;
  background: #f2f2f2;
  padding: 25px 0;
  margin-top: 15px;
}
.form-wrapper form {
  display: flex;
  flex-direction: column;
}
.form-wrapper textarea {
  height: 65px;
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  resize: none;
  outline: none;
}
.form-wrapper form button {
  background: #fdd639;
  border-radius: 15px;
  width: 70%;
  margin: 0 auto;
  height: 40px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  border: 1px solid #a9a9a9;
}
.form-wrapper form button:hover {
  background: #fed379;
  cursor: pointer;
}
.form-wrapper form button:focus {
  outline: none;
}
